:root {
    --primary-color: #0B0C10;
    --secondary-color: #1F2833;
    --tertiary-color: #C5C6C7;
    --quaternary-color: #66FCF1;
    --quinary-color: #45A29E;
    --white-color: #fff;
    --black-color: #000000;
    --facebook-color: #1877f2;
    --steam-color: #000000;
    --gray-color: #999;
    --very-light-gray-color: #efefef;
    --visual-blue-color: #007ACC;
    --light-gray-color: #323233;
    --dark-color: #1E1E1E;
    --dark-gray-color: #252526;
    

}

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    background-color: var(--light-gray-color) !important;
    color: var(--white-color);
}

body.open {
    overflow: hidden;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color); 
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.visually-hidden {
    display: none;
}

.align-center { text-align: center; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.font-10 { font-size: 10px; }

.font-12 { font-size: 12px; }

.font-14 { font-size: 14px; }

.font-16 { font-size: 16px; }

.font-18 { font-size: 18px; }

.font-20 { font-size: 20px; }

@media screen and (min-width: 992px) { /* tablet to desktop view */
    .large-hide { display: none }
}

@media (max-width: 991) and (min-width: 768px) { /* mobile to tablet view */
    .medium-hide { display: none }
}

@media screen and (max-width: 767px) { /* mobile view */
    .small-hide { display: none }
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MARKET TABLE */
.table_list--items {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--tertiary-color);
}

.table_list--items thead tr,
.table_list--items tbody tr {
    border-bottom: 1px solid var(--tertiary-color);
}

.table_list--items tbody {
    background-color: var(--white-color);
    color: var(--secondary-color);
    font-size: 12px;
}

.table_list--items tbody a {
    text-decoration: none;
    color: inherit;
}

.table_list--items tbody tr:last-of-type {
    border-bottom-width: 0;
}

.table_list--items th span {
    font-size: 14px;
    color: var(--white-color);
}

.table_list--items th,
.table_list--items td {
    text-align: left;
    padding: 15px;
}

.table_list--items .item_info {
    display: flex;
    align-items: center;
}

.table_list--items .item_info .image_wrapper {
    margin-right: 10px;
}

.table_list--items .item_info .item_description .item_title {
    display: block;
    font-weight: bold;
}

.table_list--items .item_price span {
    display: inline-block;
    color: var(--facebook-color);
    font-weight: bold;
    font-size: 14px;
}

.table_list--items .item_seller .item_seller--info {
    display: flex;
    align-items: center;
}

.table_list--items .item_seller .item_seller--info .image_wrapper {
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--black-color);
}

.item_wrapper .img_wrapper {
    height: 120px;
    overflow: hidden;
}

.modal-dialog {
    padding-left: 15px;
    padding-right: 15px;
    color: var(--white-color);
}

.modal-content {
    background-color: #232323 !important;
}

.modal-title,
.modal-header .close {
    color: var(--white-color);
}

.modal-header .close {
    font-size: 24px;
    opacity: 1;
}

.modal-body input {
    border: 1px solid #fff !important;
    background-color: #232323 !important;
    color: var(--white-color) !important;
    font-size: 14px;
    font-weight: 700;
}

.modal-body label {
    font-size: 14px;
}

.modal-footer,
.modal-footer a {
    color: var(--white-color);
}

.modal-footer a {
    font-weight: 700;
    border-bottom: 1px solid transparent;
}

.modal-footer a:hover {
    text-decoration: underline;
    display: inline-block;
    color: inherit;
}

/* TABLE */
@media screen and (max-width: 991px) {
    .table {
        overflow-x: scroll;
    }
}