.btn {
    border: 2px solid transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.btn-primary,
.btn-secondary {
    transition: background-color 0.25s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: var(--white-color);
    color: var(--facebook-color);
    border-width: 2px;
    border-color: var(--facebook-color);
    font-weight: bold;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 3px;
}

.btn-secondary:hover {
    background-color: var(--white-color);
    color: var(--steam-color);
    border-width: 2px;
    border-color: var(--steam-color);
    font-weight: bold;
}

.btn-facebook {
    background-color: var(--facebook-color);
}

.btn-steam {
    background-color: var(--steam-color);
}

.btn-login {
    border-radius: 5px;
    background-color: var(--facebook-color);
}

.btn-login:hover {
    border-color: var(--facebook-color);
    color: var(--facebook-color);
    background-color: var(--white-color);
}