.item_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item_grid {
    display: flex;  
    /* justify-content: space-between; */
    flex-wrap: wrap;  
    column-gap: 1rem; 
    row-gap: 1rem;
}

.item_grid--6 .item_grid--item {
    width: calc(100% / 5 - 1rem);
    margin-bottom: 1rem;
}

@media screen and (max-width: 991px) {
    .item_grid {
        display: block;
    }
    .item_grid--2-mobile .item_grid--item {
        width: calc(100% - 1rem);
        margin-bottom: 15px;
    }
}