.item_detail {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.item_detail .item_detail--wrapper,
.item_detail .item_detail--wrapper .item_detail--img--content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

@media screen and (max-width: 991px) {
    .item_detail .item_detail--wrapper,
    .item_detail .item_detail--wrapper .item_detail--img--content {
        display: block; 
    }    
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content {
    margin-left: 20px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .img_wrapper {
    padding: 15px 0 15px 15px;
}

@media screen and (max-width: 991px) {
    .item_detail .item_detail--wrapper .item_detail--img--content .img_wrapper {
        padding: 0;
        margin-bottom: 15px;
        height: 200px;
    }
    .item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content {
        margin: 0;
        padding: 0 15px;
    }
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content h2 {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content p {
    font-size: 12px;
    color: var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content p span {
    display: inline-block;
    margin-right: 15px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content p span span {
    color: var(--white-color);
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .tag {
    border-radius: 3px;
    padding: 2px 8px;    
    display: inline-block;
    font-size: 11px;
    margin-left: 15px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price > * {
    margin-right: 15px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price span {
    color: var(--gray-color);
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price span span {
    color: var(--quinary-color);
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price span span:first-of-type {
    font-size: 16px;
    font-weight: bold;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price span span:last-of-type {
    font-size: 12px;
    color: var(--facebook-color);
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price a {
    color: var(--gray-color);
    font-weight: bold;
    font-size: 11px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .item__ref--price a i {
    margin-left: 5px;
}

.item_detail .item_detail--wrapper .item_detail--img--content .item_detail--content .tag.tag--immortal {
    background-color: #F2B166;
}

.item_detail .item_detail--wrapper .item_detail--ctas {
    text-align: right;
    margin-right: 15px;
}

@media screen and (max-width: 991px) {
    .item_detail .item_detail--wrapper .item_detail--ctas {
        text-align: left;
        padding-bottom: 15px;
    }
}

.item_detail .item_detail--wrapper .item_detail--ctas p {
    margin-bottom: 30px;
}

.item_detail .item_detail--wrapper .item_detail--ctas a {
    color: var(--white-color);
}

.item_detail .item_detail--wrapper .item_detail--ctas div > * {
    margin-left: 15px;
}

.item_detail .item_detail--wrapper .item_detail--ctas div > a {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    background-color: var(--quinary-color);
}

.item_detail .item_detail--wrapper .item_detail--ctas div > button {
    border-width: 0;
    background-color: var(--facebook-color);
    height: 30px;
}

/* ITEM GROUPS */
.item_groups {
    background-color: var(--secondary-color);
    margin-top: 25px;
    padding-bottom: 25px;
}

.item_groups .item_groups--wrapper {
    padding: 20px 20px 0;
}

.item_groups .item_groups--tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--facebook-color);
    margin-bottom: 10px;
}

.item_groups .item_groups--tab ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.item_groups .item_groups--tab ul li {
    margin-right: 15px;
    padding: 10px 0;
    cursor: pointer;
}

.item_groups .item_groups--tab ul li:hover span,
.item_groups .item_groups--tab ul li.active span {
    color: var(--white-color);
}

.item_groups .item_groups--tab ul li span {
    font-weight: bold;
    color: var(--gray-color);
}

.item_groups .item_groups--sort .item_groups--sort--container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.item_groups .item_groups--sort {
    padding-right: 20px;
    padding-bottom: 20px;
}

.item_groups .item_groups--sort .item_groups--sort--container > div:first-of-type {
    margin-right: 15px;
}

.item_groups .item_groups--sort .item_groups--sort--container > div:last-of-type {
    margin-left: 35px;
}

.item_groups .item_groups--sort .item_groups--sort--container label {
    color: var(--white-color);
}

.item_groups .item_groups--sort .item_groups--sort--container input[type="number"] {
    height: 30px;
    width: 50px;
    border-width: 0;
    padding-left: 5px;
}

/* ITEM GROUP TABLE */
.item_group--table {}

.item_group--table--container table {
    width: 100%;
}

.item_group--table--container table thead {
    background-color: var(--white-color);
}

.item_group--table--container table thead tr th {
    padding: 10px 15px;
    color: var(--gray-color);
}

.item_group--table--container table tbody tr:nth-child(odd) {
    background-color: var(--dark-gray-color);
}

.item_group--table--container table tbody tr:nth-child(even) {
    background-color: var(--white-color);
}

.item_group--table--container table tbody tr td {
    padding: 10px 15px;
}

.item_group--table--container table tbody tr td .img_text .item__seller {
    border-radius: 50%;
}

.item_group--table--container table tbody tr td .img_text span {
    margin-left: 10px;
    display: inline-block;
}

.item_group--table--container table tbody tr td .item__group--cta a:first-of-type {
    margin-right: 15px;
    display: inline-block;
    background-color: var(--facebook-color);
    color: var(--white-color);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.item_group--table--container table tbody tr td .item__group--cta a:last-of-type {
    color: var(--quinary-color);
    font-size: 20px;
}