.layout {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}


@media (max-width: 991px) {
    .layout {
      flex-direction: column;
    }
  }

.column {
    float: left;
    
}

@media (max-width: 991px) {
    .column  {
       float: left;
       
    }
  }

.col1 {
    width: 25%;
    flex: 25%;
    padding-right: 20px;
}

@media (max-width: 991px) {
    .col1 {
      width: 100%;
      padding-right: 0px;
    }
  }


.col2 {
    width: 75%;
    flex: 75%;
}

@media (max-width: 991px) {
    .col2 {
      width: 100%;
    }
  }

.layout:after {
    content: "";
    display: table;
    clear: both;
}

.col1 .panel{
    background-color: var(--secondary-color);
    
}

@media (max-width: 991px) {
    .col1 .panel{
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }



.col2 .main{
    padding: 10px;
    padding: 0 25px 50px 25px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
}

.col1 .panel .user-image{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

@media (max-width: 991px) {
    .col1 .panel .user-image {
        width: 50%;
        min-height: 32px;
    }
  }

.col1 .panel .user-image .image{
    padding: 20px 0 0 0;   
}
.col1 .panel .user-image .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.col1 .panel .user-image .name {
    padding: 10px 0 20px 0;
}
.col1 .panel .user-image .name h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.col1 .panel .menu {
    background-color: var(--white-color);
    color: var(--primary-color);
}

@media (max-width: 991px) {
    .col1 .panel .menu {
      width: 100%;
      min-height: 32px;
      background-color: var(--secondary-color);
    }
  }

.col1 .panel .menu li {
    width: 100%;
    min-height: 64px;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

@media (max-width: 991px) {
    .col1 .panel .menu li {
      width: 100%;
      min-height: 32px;
    }
  }

.col1 .panel .menu ul li:hover,
.col1 .panel .menu ul li.active{
    color: var(--visual-blue-color);
    text-decoration: underline;
}

@media (max-width: 991px) {
    .col1 .panel .menu ul li {
     display: inline;
    }
  }

  @media (max-width: 991px) {
    .col1 .panel .menu ul {
     margin: auto;
     align-content: center;
    }

    .user__panel {
        display: block !important;
    }

    .user__panel .user-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        min-height: auto !important;
        margin-top: 10px;
    }

    .user__panel .user-image .image {
        padding: 0 !important;
    }

    .user__panel .user-image .name {
        margin-left: 20px;
    }

    .user__panel .menu ul {
        display: flex;
    }

    .user-wallet-section .table--container {
        overflow-x: scroll;
    }

    .user-wallet-section .table--container .user-wallet-history {
        width: 200% !important;
    }


  }

.col1 .panel .menu i{
    padding: 10px;
    align-content: left;
}

.col2 .main .user-setting {
    color: var(--black-color);
}

.col2 .main .user-setting h3{
    font-size: 14px;
    font-weight: bolder;
}

.col2 .main .user-setting .list-tab {
    width: 100%;
}

.col2 .main .user-setting .list-tab tr{
    border-bottom: 1px solid var(--tertiary-color);
    
}

.col2 .main .user-setting .list-tab td{
    padding: 10px 0;
    font-size: 14px;
    color:var(--gray-color);
    vertical-align: top;
}

.col2 .main .user-setting .list-tab td img{
    border-radius: 50%;
}

.col2 .user-setting .list-tab .t-left {
    width: 200px;
}

.col2 .user-setting .list-tab .t-left input{
    width: 300px !important;
}

.col2 .user-setting .list-tab .t-left a{
    width: 120px;
}

.col2 .user-setting .list-tab .t-right{
    text-align: right;
}

.col2 .user-setting .list-tab .t-right a:first-of-type{
    margin-right: 15px;
    display: inline-block;
    background-color: var(--facebook-color);
    color: var(--white-color);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}

.col2 .user-setting .list-tab table tbody tr td .t-right a:last-of-type{
    color: var(--quinary-color);
    font-size: 20px;
}

.col2 .user-setting .list-tab .t-right button{
    margin-right: 15px;
    display: inline-block;
    background-color: var(--facebook-color);
    color: var(--white-color);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    border-radius: 0px;
}

.col2 .user-setting .list-tab .t-right button:hover,
.col2 .user-setting .list-tab .t-right button.active{

    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .col2 .main .user-setting .list-tab {
        display: block;
    }
    
    .col2 .main .user-setting .list-tab tbody {
        display: block;
    }  
    
    .col2 .main .user-setting .list-tab tbody tr {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .col2 .main .user-setting .list-tab tbody tr td {
        flex: 0 0 100%;
    }
    
    .col2 .main .user-setting .list-tab tbody tr td input {
        width: 100% !important;
    }
    
    .col2 .main .user-setting .list-tab tbody tr td a {
        margin-right: 0;
        width: 100%;
    }
    
    .col2 .main .user-setting .list-tab tbody tr td:empty {
        display: none;
    }    
}
