.layout {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}


@media (max-width: 991px) {
    .layout {
      flex-direction: column;
    }
  }

.column {
    float: left;
    
}

@media (max-width: 991px) {
    .column  {
       float: left;
       
    }
  }

.col1 {
    width: 25%;
    flex: 25%;
    padding-right: 20px;
}

@media (max-width: 991px) {
    .col1 {
      width: 100%;
      padding-right: 0px;
    }
  }


.col2 {
    width: 75%;
    flex: 75%;
}

@media (max-width: 991px) {
    .col2 {
      width: 100%;
    }
  }

.layout:after {
    content: "";
    display: table;
    clear: both;
}

.col1 .panel{
    background-color: var(--secondary-color);
    
}

@media (max-width: 991px) {
    .col1 .panel{
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }



.col2 .main{
    padding: 10px;
    padding: 0 25px 50px 25px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
}

.col1 .panel .user-image{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

@media (max-width: 991px) {
    .col1 .panel .user-image {
        width: 50%;
        min-height: 32px;
    }
  }

.col1 .panel .user-image .image{
    padding: 20px 0 0 0;   
}
.col1 .panel .user-image .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.col1 .panel .user-image .name {
    padding: 10px 0 20px 0;
}
.col1 .panel .user-image .name h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.col1 .panel .menu {
    background-color: var(--white-color);
    color: var(--primary-color);
}

@media (max-width: 991px) {
    .col1 .panel .menu {
      width: 100%;
      min-height: 32px;
      background-color: var(--secondary-color);
    }
  }

.col1 .panel .menu li {
    width: 100%;
    min-height: 64px;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

@media (max-width: 991px) {
    .col1 .panel .menu li {
      width: 100%;
      min-height: 32px;
    }
  }

.col1 .panel .menu ul li:hover,
.col1 .panel .menu ul li.active{
    color: var(--visual-blue-color);
    text-decoration: underline;
}

@media (max-width: 991px) {
    .col1 .panel .menu ul li {
     display: blockw;
    }
  }

  @media (max-width: 991px) {
    .col1 .panel .menu ul {
     margin: auto;
     /* align-content: center; */
    }
  }

.col1 .panel .menu i{
    padding: 10px;
    align-content: left;
}

.col2 .header .col {
    float: left;
    width: 33.33%;
    padding: 10px 20px 10px 20px;
    color: var(--white-color);
}

.col2 .header .row:after {
    float: left;
    width: inherit;
}

.col2 .grid-container { 
    display: grid;
    background-color: var(--white-color);
}

.col2 .grid-item-header{
    background-color: var(--secondary-color);
    border: 1px solid var(--light-gray-color);
}

.col2 .grid-item {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-color);
    /* border-radius: 5px */
}

.col2 .grid-item .body .user-wallet .list-tab thead tr th {
    /* padding: 10px; */
    font-size: 20px;
    font-weight: bold;
    background-color: var(--very-light-gray-color);
}

.col2 .grid-item .body .user-wallet .list-tab tbody tr td {
    font-size: 15px;
    padding: 5px;
}

.col2 .grid-item .body .user-wallet .list-tab tbody:nth-child(odd) {
    font-size: 15px;
    padding: 5px;
    background-color: var(--very-light-gray-color);
}
.col2 .grid-item .body .user-wallet .list-tab tbody:nth-child(even) {
    font-size: 15px;
    padding: 5px;
    background-color: var(--white-color);
}


.col2 .grid-container .grid-item-header .header .row .col .info .icon{
    float: left;
    padding: 0 10px 0 10px;
}

@media (max-width: 991px){
    .col2 .grid-container .grid-item-header .header .row .col .info .icon{
        float: left;
        
    }

    .balance__section .row {
        margin: 0;
        display: flex;
    }

    .balance__section .row .col {
        float: none;
        width: auto;
    }

    .balance__section .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .balance__section .info > div {
        flex: 0 0 100%;
        text-align: center;
    }

    .balance__section .info > div:first-of-type {
        margin-bottom: 10px;
    }

    .balance__section i {
        font-size: 20px;
    }

    .user-deposit span.button {
        display: block;
        margin-top: 10px;
    }

    .user-deposit span:not(.button) input {
        width: 100%;
        border: 1px solid var(--black-color);
        height: 40px;
        padding: 5px 10px;
    }

    .user-deposit span.button button {
        width: 100% !important;
        height: 30px !important;
        background-color: var(--visual-blue-color) !important;
    }

    .user-wallet > table {
        margin-bottom: 20px;
    }

    .user__panel {
        display: block !important;
    }

    .user__panel .user-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        min-height: auto !important;
        margin-top: 10px;
    }

    .user__panel .user-image .image {
        padding: 0 !important;
    }

    .user__panel .user-image .name {
        margin-left: 20px;
    }

    .user__panel .menu ul {
        display: flex;
    }

    .user-wallet-section .table--container {
        overflow-x: scroll;
    }

    .user-wallet-section .table--container .user-wallet-history {
        width: 200% !important;
    }

    .user-wallet-section .table--container,
    .user-wallet .table--container {
        overflow-x: scroll;
    }

    .user-wallet-section .table--container .table,
    .user-wallet .table--container table {
        width: 200% !important;
    }

    .user-wallet-section .table--container .user-wallet-history {
        width: 200% !important;
    }
}

.col2 .grid-container .grid-item .body .tab {
    background-color: var(--tertiary-color);
    padding: 10px;
    width: 100%;
    padding-bottom: 30px;
    /* border-radius: 5px; */
} 

.col2 .grid-container .grid-item .body .tab ul li{
    float: left;
    width: 33.33%;
    text-align: center;
    
}

.col2 .grid-container .grid-item .body .tab ul li span{
    font-size: 20px;
    color: var(--dark-color);
    background-color: var(--tertiary-color);
    width: 100%;
    border: none;
    cursor: pointer;
}

.col2 .grid-container .grid-item .body .tab ul li:hover,
.col2 .grid-container .grid-item .body .tab ul li.active{
   color: var(--visual-blue-color);
   text-decoration: underline;

}

.col2 .grid-container .grid-item .body .user-wallet .table {
    width: 100%;
}

.col2 .grid-container .grid-item .body .user-wallet .table tbody {
    background-color: var(--white-color);
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-left{
    padding: 10px 20px 10px 10px;
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right{
    padding: 10px 20px 10px 10px;
    width: 80%;
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right span input[type="number"]{
    font-size: 15px;
    border-width: 0;
    padding-left: 5px;
    
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right span button{
    width: 15%;
    height: 40%;
    border: none;
    background-color: var(--facebook-color);
    color: var(--white-color);
}

.user-wallet-notice- ul {
    padding: 10px 0;
    margin: 0;
}

.user-wallet-section {
    padding: 0 15px 10px;    
}

.user-wallet-section .user-wallet-history {
    width: 100%;
    
}
