.layout {
    padding-top: 20px;
}
.column {
    float: left;
    padding: 10px;
    
}
.col1 {
    width: 25%;
   
}

.col2 {
    width: 75%;
}

.layout:after {
    content: "";
    display: table;
    clear: both;
}

.col1 .panel{
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 5px;
}

.col2 .header{
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.col1 .panel .user-image{
    background-color: var(--secondary-color);
    color: var(--white-color);
    
}
.col1 .panel .user-image .image{
    padding: 20px 0 0 0;   
}
.col1 .panel .user-image .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.col1 .panel .user-image .name {
    padding: 10px 0 20px 0;
}
.col1 .panel .user-image .name h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.col1 .panel .menu {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.col1 .panel .menu button{
    width: 100%;
    height: 64px;
    border: none;
    color: var(--white-color);
    background-color: var(--steam-color);
}

.col1 .panel .menu ul li button:hover,
.col1 .panel .menu ul li button.active{
    background-color: var(--secondary-color);
}

.col1 .panel .menu i{
    padding: 10px;
    align-content: left;
}

.col2 .header .col {
    float: left;
    width: 33.33%;
    padding: 10px 20px 10px 20px;
    color: var(--white-color);
}

.col2 .header .row:after {
    float: left;
    width: 33.33%;
}

.col2 .grid-container { 
    display: grid;
    grid-row-gap: 20px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.col2 .grid-item-header{
    background-color: var(--secondary-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 5px
}

.col2 .grid-item {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 5px
}

.col2 .grid-container .grid-item-header .header .row .col .info .icon{
    float: left;
    padding: 0 10px 0 10px;
}

.col2 .grid-container .grid-item .body .tab {
    background-color: var(--steam-color);
    padding: 10px;
    width: 100%;
    padding-bottom: 30px;
    border-radius: 5px;
} 

.col2 .grid-container .grid-item .body .tab .tab-list li{
    float: left;
    width: 33.33%;
    text-align: center;
    
}

.col2 .grid-container .grid-item .body .tab .tab-list li button{
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--steam-color);
    width: 100%;
    border: none;
}

.col2 .grid-container .grid-item .body .user-wallet .table {
    width: 100%;
}

.col2 .grid-container .grid-item .body .user-wallet .table tbody {
    background-color: var(--white-color);
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-left{
    padding: 10px 20px 10px 10px;
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right{
    padding: 10px 20px 10px 10px;
    width: 80%;
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right span input[type="number"]{
    font-size: 15px;
    border-width: 0;
    padding-left: 5px;
    
}

.col2 .grid-container .grid-item .body .user-wallet table tbody tr .t-right span button{
    width: 15%;
    height: 40%;
    border: none;
    background-color: var(--facebook-color);
    color: var(--white-color);
}




